button {
  @apply font-medium py-2 px-4 rounded-md flex justify-center w-full;
  &.btn-alternate {
    @apply bg-transparent;
  }
  &.btn-big {
    @apply text-lg py-2 px-4;
  }
  &:disabled {
    pointer-events: none;
  }
}

.btn-primary-500 {
  @apply border border-primary-500 bg-primary-500 text-white;
  &:hover {
    @apply bg-primary-900;
  }
  &:disabled {
    @apply opacity-50 cursor-not-allowed;
  }
  &.btn-alternate {
    @apply text-primary-500 bg-white;
    &:hover {
      @apply bg-primary-500 text-white;
    }
  }
}

.btn-secondary-500 {
  @apply border border-secondary-500 bg-secondary-500 text-white;
  &:hover {
    @apply bg-transparent text-secondary-500;
  }
  &:disabled {
    @apply opacity-50 cursor-not-allowed;
  }
  &.btn-alternate {
    @apply text-secondary-500 bg-white;
    &:hover {
      @apply bg-secondary-500 text-white;
    }
  }
}
.btn-secondary-200 {
  @apply border border-secondary-200 bg-secondary-200 text-white cursor-pointer;
  &:hover {
    @apply bg-secondary-500 text-secondary-500;
  }
  &:disabled {
    @apply opacity-50 cursor-not-allowed;
  }
  &.btn-alternate {
    @apply text-secondary-500 bg-white;
    &:hover {
      @apply bg-secondary-500 text-white;
    }
  }
}
.btn-terciary-500 {
  @apply border border-terciary bg-terciary text-primary-500;
  &:hover {
    @apply bg-opacity-50 text-primary-500;
  }
  &:disabled {
    @apply opacity-50 cursor-not-allowed;
  }
}


.btn-primary-transparent {
  @apply  bg-transparent text-primary-500;
  &:hover {
    @apply bg-primary-100;
  }
  &:disabled {
    @apply cursor-not-allowed;
  }
}

.material-symbols-outlined{
  font-size: 28px;
  margin-left: 5px;
}

