@font-face {
  font-family: 'PPEditorialNew';
  src: url('/fonts/PPEditorialNew-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PPEditorialNew';
  src: url('/fonts/PPEditorialNew-Ultrabold.otf') format('opentype');
  font-weight: 800;
  font-style: bold;
}

@font-face {
  font-family: 'PPEditorialNew';
  src: url('/fonts/PPEditorialNew-Ultralight.otf') format('opentype');
  font-weight: 300;
  font-style: light;
}

@font-face {
  font-family: 'SpaceGrotesk';
  src: url('/fonts/SpaceGrotesk-Light.ttf') format('opentype');
  font-weight: 300;
  font-style: light;
}

@font-face {
  font-family: 'SpaceGrotesk';
  src: url('/fonts/SpaceGrotesk-Regular.ttf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SpaceGrotesk';
  src: url('/fonts/SpaceGrotesk-Medium.ttf') format('opentype');
  font-weight: 500;
  font-style: medium;
}

@font-face {
  font-family: 'SpaceGrotesk';
  src: url('/fonts/SpaceGrotesk-Semibold.ttf') format('opentype');
  font-weight: 600;
  font-style: semibold;
}

@font-face {
  font-family: 'SpaceGrotesk';
  src: url('/fonts/SpaceGrotesk-Bold.ttf') format('opentype');
  font-weight: 700;
  font-style: bold;
}

h1,
h2,
h3,
h4 {
  @apply font-secondary font-bold;
}

h1 {
  @apply text-5xl; /* 48px - 1 */
}

h2 {
  @apply text-4xl; /* 36px - 40px */
}

h3 {
  @apply text-3xl; /* 30px - 36px */
}

h4 {
  @apply text-2xl; /* 24px - 32px */
}

h5 {
  @apply font-bold text-xl; /* 20px - 28px */
}

.h-plain {
  @apply font-primary  text-base;
}